@{
    int count = int.Parse(ViewData["AllCount"].ToString());
    int current = int.Parse(ViewData["CurrentPage"].ToString());
    int size = count / DevAssign.Business.Consts.PAGE_SIZE;
    if (count % DevAssign.Business.Consts.PAGE_SIZE > 0)
    {
        size++;
    }

    int start = 1, end = size;
    if (current > 5)
    {
        start = current - 4;
    }
    if ((current + 5) < size)
    {
        end = current + 5;
    }



}

<div>
    <ul class="pagination">
        @for (int i = start; i <= end; i++)
        {
            <li class="page-item">
                @Html.ActionLink(i.ToString(), "errorlogs", "User", new { page = i }, null)
            </li>

        }
    </ul>
</div>