
@{
    ViewBag.Title = "UserMain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserMain</h2>

<div class="todos"></div>
<div class="clearfix"></div>

@section scripts{
    @Scripts.Render("~/bundles/user")
}